@font-face {
	font-family: 'BenderBlack';
	src: url('fonts/bender_black-webfont.eot');
	src: local('â˜º'), url('fonts/bender_black-webfont.woff') format('woff'), url('fonts/bender_black-webfont.ttf') format('truetype'), url('fonts/bender_black-webfont.svg#webfontQ8wVYyck') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* Headers */
h1, h2, h3, h4, h5, h6 {
	font-family: 'BenderBlack', Arial, Verdana, sans-serif;
	font-weight: bold;
	text-transform:uppercase;
	color: #33ff00;
	text-align: center;
	}

.instructions {
	font-family: 'BenderBlack', Arial, Verdana, sans-serif;
	font-weight: bold;
	text-transform:uppercase;
	text-color: #33ff00;
	float:left;
	width:400px;
    }